# Airtable Personal Access Token
AIRTABLE_PAT=

# Website bookings base
AIRTABLE_WEBSITE_BASE_ID=
AIRTABLE_WEBSITE_TABLE_NAME=

# Walk-in job cards base
AIRTABLE_WALKINS_BASE_ID=
AIRTABLE_WALKINS_TABLE_NAME=
